$color-primary:#08A6E4;
$color-primary-shadow:rgba(7, 172, 230, .16);
$color-redish:#fb3b64;
$color-green: #55DFB4;
$color-black:#000000;
$color-grey:#A5A5A5;
$color-light-grey:#F7F7F7;
$color-white:#FFFFFF;
$font-raleway:'Raleway',sans-serif;
$font-open-sans:'Open Sans', sans-serif;
$font-size-h1:60px;
$font-size-h2:50px;
$font-size-p:20px;
$font-weight-p:medium;
$accent-color: $color-redish;